.accordion {
  //max-width: 500px;
  margin: 0 auto 50px auto;
  color: $color-default-white;

  & & {
    width: 90%;
    margin: 0 auto;
  }

  &__element:last-child {
    margin-bottom: 0;
  }

  &__element {
    margin-bottom: 34px;
    padding: 10px;
  }

  &__element.is-active>&__button {
    opacity: 1;

    &::after {
      display: block;
      rotate: -45deg;
      top: 5px;
    }
  }

  &__element>&__button--icon {

    &::after {
      display: block;
      rotate: 135deg;
      top: 0;
    }
  }


  &__button {
    width: 100%;
    padding: 0;
    border: none;
    display: flex;
    color: $color-default-white;
    opacity: 0.7;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.32px;
    text-transform: uppercase;
    position: relative;
    background: transparent;
    padding-right: 22px;
    width: fit-content;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &::after {
      content: "";
      position: absolute;
      width: 12px;
      height: 12px;
      border-top: 2px solid $color-default-white;
      border-right: 2px solid $color-default-white;
      rotate: -45deg;
      right: 0;
      display: none;
    }
  }

  &__wrapper {
    padding: 10px;
    margin: 0;
    padding-top: 20px;
    padding-left: 16px;
  }

  &__item {
    list-style: none;

    & a {
      color: $color-default-white;
      opacity: 0.7;
    }
  }
}
