.btn {
  display: flex;
  padding: 4px;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 20px;
  padding-right: 65px;
  position: relative;
  color: $color-cerulean-blue;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  padding: 22px 80px 22px 30px;

  background-color: transparent;
  border: none;
  cursor: pointer;
  column-gap: 30px;
  border: 1px solid $color-cerulean-blue;
  border-radius: 30px;
  align-items: center;
  width: fit-content;

  transition: opacity $trans-default;

  @include vp-767 {
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0.24px;
  }

  & svg {
    position: absolute;
    right: 21px;
    z-index: 1;

    @include vp-767 {
      right: 15px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    right: 4px;
    width: 46px;
    height: 46px;
    background-color: $color-cerulean-blue;
    border-radius: 50%;
  }

  @include vp-767 {
    column-gap: 20px;

    &::after {
      width: 34px;
      height: 34px;
    }
  }

  @include hover-focus {
    background-color: $color-cerulean-blue;
    color: $color-default-white;
    outline: 1px solid transparent;

    &::after {
      background-color: $color-default-white;
    }

    & svg {
      color: $color-cerulean-blue;
    }
  }

  @include active-no-hover {
    background-color: $color-cerulean-blue;
    color: rgba(255, 255, 255, 0.7);

    & svg {
      opacity: 0.7;
    }
  }



  &--blue {
    color: $color-default-white;
    border-color: $color-default-white;

    & svg {
      fill: red;
      color: red;
    }

    &::after {
      background-color: $color-default-white;
    }

    @include hover-focus {
      background-color: $color-default-white;
      color: $color-cerulean-blue;
      outline: 1px solid transparent;

      &::after {
        background-color: $color-cerulean-blue;
      }

      & svg {
        color: $color-default-white;
      }
    }

    @include active-no-hover {
      background-color: $color-cerulean-blue;
      opacity: 0.7;

      & svg {
        opacity: 0.7;
      }
    }
  }

  &:disabled {
    background-color: $color-cerulean-blue;
    color: $color-default-white;
    pointer-events: none;
    border-color: #a9afb7;
    pointer-events: none;

    &::after {
      background-color: #a9afb7;
    }

    & svg {
      color: #a9afb7;
    }
  }
}
