.custom-select {
  position: relative;

  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 22px;
  display: grid;
  gap: 7px;

  @media screen and (max-width: 767px) {
    padding: 0;
    width: 100%;
    margin: 0;
  }

  &__label {
    position: relative;
    top: 0;
    opacity: 0.8;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;



    transition: transform 0.3s ease, opacity 0.3s ease;

    pointer-events: none;

    @media screen and (max-width: 767px) {
    }
  }

  &__placeholder {
    position: absolute;
    top: 50%;
    left: 10px;

    transform: translateY(-50%);

    transition: transform 0.3s ease, opacity 0.3s ease;

    pointer-events: none;

    @media screen and (max-width: 767px) {
      transform: translateY(calc(-50% - 5px));
    }
  }

  select {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;

    white-space: nowrap;

    border: 0;

    clip: rect(0 0 0 0);
    clip-path: inset(100%);
  }

  &__button {
    display: flex;
    align-items: center;
    width: 100%;
    height: 48px;
    padding: 5px 18px;

    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    outline: none;
    cursor: pointer;

    transition: border 0.3s ease;

    @include vp-767 {
      height: 43px;
    }

    &:hover {
      border: 1px solid $color-charcoal;
    }

    &:focus {
      border: 1px solid $color-charcoal;
    }

    &:disabled {
      pointer-events: none;
      opacity: 0.3;
    }
  }

  &__list {
    position: absolute;
    bottom: -9px;
    z-index: 1;

    width: 100%;
    max-height: 100px;
    margin: 0;
    padding: 0;
    overflow-y: auto;

    list-style: none;

    background-color: #ffffff;
    border: 2px solid $color-charcoal;
    transform: translateY(100%);
    visibility: hidden;
    opacity: 0;

    transition: visibility 0.3s ease, opacity 0.3s ease;


    border-radius: 8px;
  }

  &__item {
    padding: 5px;

    outline: none;
    cursor: pointer;

    transition: background-color 0.3s ease;

    &[aria-selected="true"] {
      background-color: $color-cerulean-blue;
      color: $color-default-white;

      @media (hover: hover) {
        &:hover:not(.focus-visible) {
          background-color: transparent;
          color: $color-charcoal;
        }
      }

      &.focus-visible:focus {
        background-color: $color-cerulean-blue;
        color: $color-default-white;
      }
    }

    @media (hover: hover) {
      &:hover:not(.focus-visible) {
        background-color: transparent;
        color: $color-cerulean-blue;
      }
    }

    &.focus-visible:focus {
      background-color: transparent;
      color: $color-cerulean-blue;
    }

    @include active-no-hover {
      background-color: $color-cerulean-blue;
      color: $color-default-white;
    }
  }

  &__error {
    position: absolute;
    bottom: -15px;
    left: 0;

    color: #ff1553;

    opacity: 0;

    transition: opacity 0.1s ease;
  }

  &__text {
    font-size: 20px;
    line-height: 24px;
    flex-shrink: 0;
    width: 80%;
    overflow: hidden;

    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;

    opacity: 0;

    transition: opacity 0.3s ease 0.1s;

    br {
      display: none;
    }
  }

  &__icon {
    flex-shrink: 0;
    width: 16px;
    height: 10px;
    margin-left: auto;

    background-color: $color-charcoal;

    transition: transform 0.3s ease;

    clip-path: polygon(100% 0, 100% 20%, 50% 100%, 0 20%, 0 0, 50% 80%);
  }

  &.is-disabled {
    pointer-events: none;

    .custom-select__list {
      display: none;
    }
  }

  &.open-up {
    .custom-select__list {
      bottom: auto;
      top: 0;
      transform: translateY(calc(-100% + 10px));
    }
  }

  &.is-open {
    .custom-select__list {
      visibility: visible;
      opacity: 1;
    }

    .custom-select__icon {
      transform: rotate(180deg);
    }

    .custom-select__label {
      opacity: 1;
    }
  }

  &.not-empty {
    .custom-select__text {
      opacity: 1;
    }

    .custom-select__label {
      margin: 0;
      position: relative;
      font-size: 14px;
      line-height: 14px;
      opacity: .8;
      top: 0;
    }

    .custom-select__placeholder {
      opacity: 0;
    }
  }

  &.is-invalid {
    .custom-select__error {
      opacity: 1;
    }

    .custom-select__button {
      border: 1px solid #ff1553;
      background: rgba(255, 94, 102, 0.20);

      &:focus,
      &:hover {
        border: 1px solid rgba(#ff1553, 0.5);
      }
    }
  }

  /* &.is-valid {
    .custom-select__button {
      border: 2px solid $color-eucalyptus;

      &:focus,
      &:hover {
        border: 2px solid rgba($color-eucalyptus, 0.5);
      }
    }
  } */

  &--placeholder {
    .custom-select__label {
      // transform: translateY(calc(-50% - 40px));
      opacity: 1;
    }

    &.is-open .custom-select__label {
      opacity: 1;
    }

    &.not-empty .custom-select__label {
      opacity: 1;
    }
  }

  &.slide-up.not-empty,
  &.slide-up.is-open {
    .custom-select__label {
      opacity: 1;
    }

    .custom-select__text {
      opacity: 1;
    }
  }

  .input-message {
    position: absolute;
    right: 0;
    bottom: -5px;

    &.is-invalid {
      color: #ff0000;
    }

    &.is-valid {
      color: #15ab07;
    }
  }
}
