.custom-input,
.custom-textarea {
  position: relative;

  display: flex;
  width: 100%;
  margin-bottom: 17px;

  @media screen and (max-width: 767px) {
    padding: 0;
    width: 100%;
    margin-bottom: 13px;
  }

  label {
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: 7px;
    flex-direction: column;

    @media screen and (max-width: 767px) {
      align-items: flex-start;
      flex-direction: column;
    }

    input,
    textarea {
      flex-grow: 1;
      min-height: 43px;
      margin-left: auto;
      padding: 10px;
      width: 100%;
      outline: none;

      // transition: border 0.3s ease;

      border-radius: 8px;
      border: 1px solid rgba(72, 72, 72, 0.3);
      height: 50px;

      @media screen and (max-width: 767px) {
        max-width: unset;
        width: 100%;
        height: 43px;
      }

      &:hover {
        border: 1px solid $color-charcoal;
      }

      &:focus {
        border: 1px solid $color-charcoal;
      }

      &:disabled {
        border: 1px solid rgba(169, 175, 183, 0.5);
        background: rgba(169, 175, 183, 0.2);
      }
    }
  }

  &__label {
    @media screen and (max-width: 767px) {
      margin: 0 0 18px 0;
    }
  }


  &--secondary {
    & input,
    textarea {
      border-radius: 8px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      height: 50px;
      background-color: transparent;

      @include hover {
        border: 1px solid $color-default-white;
      }

      @include focus {
        border: 1px solid $color-default-white;
      }

      &:disabled {
        border: 1px solid rgba(169, 175, 183, 0.5);
        background: rgba(169, 175, 183, 0.2);
      }
    }
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: 35px;

    color: #ff1553;
    border: 1px solid var(--state-error, #ff5e66);
    background: rgba(255, 94, 102, 0.2);

    transition: opacity 0.3s ease;

    @media screen and (max-width: 767px) {
      bottom: 20px;
    }
  }

  &.is-invalid {
    input,
    textarea {
      border: 1px solid #ff1553;
      background: rgba(255, 94, 102, 0.2);

      &:focus,
      &:hover {
        border: 1px solid rgba(#ff1553, 0.5);
      }
    }
  }

  &.is-valid {
    input {
      border: 2px solid #22b259;

      &:focus,
      &:hover {
        border: 2px solid rgba(#22b259, 0.5);
      }
    }
  }

  .input-message {
    position: absolute;
    right: 0;
    bottom: -5px;

    &.is-invalid {
      color: #ff0000;
    }

    &.is-valid {
      color: #15ab07;
    }
  }
}
