.custom-toggle {
  position: relative;
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;

  display: flex;
  width: 100%;
  padding: 0;
  margin-bottom: 33px;

  @media screen and (max-width: 767px) {
    padding: 14px 0 10px 0;
    width: 100%;
    margin-bottom: 15px;
  }

  &:last-of-type {
    padding: 0;

    @media screen and (max-width: 767px) {
      padding: 0 0 10px 0;
    }
  }

  input {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;

    clip: rect(0 0 0 0);
  }

  label {
    position: relative;

    padding-left: 30px;

    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    opacity: 0.9;
    padding-top: 5px;

    cursor: pointer;

    span {
      margin-bottom: 0;
      margin-left: 0;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 12px;
    }
  }

  &--checkbox {
    .custom-toggle__icon {
      position: absolute;
      top: 0;
      left: 0;

      width: 20px;
      height: 20px;
      border: 1px solid $color-cerulean-blue;
      opacity: 0.7;
      border-radius: 2px;

      transition: border 0.3s ease;

      @include vp-767 {
        top: 5px;
      }

      @include hover-focus {
        opacity: 1;
      }

      &:disabled {
        background: rgba(255, 255, 255, 0.6);
      }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;

        width: 20px;
        height: 20px;

        background-color: rgba(#2c39f2, 0);

        transform: translate(-50%, -50%);

        transition: background-color 0.3s ease;
      }

      &--secondary {
        opacity: 1;
        top: 5px;

        &::before {
          background-color: transparent;
          border-radius: 2px;
          border: 1px solid rgba(255, 255, 255, 0.6);
        }

        @include hover-focus {
          border: 1px solid rgb(255, 255, 255);
        }

        &:focus {
          border: 1px solid rgb(255, 255, 255);
        }

        &:disabled {
          border: 1px solid #ffffff;
          background: rgba(255, 255, 255, 0.6);
        }
      }
    }
  }

  &--secondary {
    label {
      padding-top: 8px;
    }
  }

  &--radio {
    .custom-toggle__icon {
      position: absolute;
      top: 0;
      left: 0;

      width: 28px;
      height: 28px;

      border: 1px solid #2c39f2;
      border-radius: 50%;

      transition: border 0.3s ease;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 20px;

        color: rgba(255, 255, 255, 0);

        border-radius: 50%;
        transform: translate(-50%, -50%);

        transition: color 0.3s ease;
      }
    }
  }

  input:checked + .custom-toggle__icon {
    border: 1px solid $color-default-white;
    background-color: $color-cerulean-blue;

    &::before {
      background: url("../../img/svg/checkbox.svg") no-repeat center;
      background-color: $color-cerulean-blue;
    }

    @include hover-focus {
      &::before {
        background: url("../../img/svg/checkbox.svg") no-repeat center;
      }
    }

    &:focus {
      &::before {
        background: url("../../img/svg/checkbox.svg") no-repeat center;
      }
    }

    &:disabled {
      &::before {
        background: url("../../img/svg/checked-disabled.svg") no-repeat center;
      }
    }

    &--secondary {
      &::before {
        background: url("../../img/svg/checked.svg") no-repeat center;
      }

      &:focus {
        &::before {
          background: url("../../img/svg/checkbox.svg") no-repeat center;
        }
      }
    }
  }

  input:focus + .custom-toggle__icon {
    opacity: 1;
  }

  input:focus + .custom-toggle__icon--secondary {
    opacity: 1;
    &::before {
      border: 1px solid $color-default-white;
    }
  }

  &.is-invalid {
    label span {
      color: #ff1553;
    }

    .custom-toggle__icon {
      border: 1px solid #ff5e66;
      opacity: 0.7;
      background: rgba(255, 94, 102, 0.2);
    }
  }

  .input-message {
    position: absolute;
    right: 0;
    bottom: -5px;

    &.is-invalid {
      color: #ff0000;
    }

    &.is-valid {
      color: #15ab07;
    }
  }
}
