.filters {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;

  @include vp-767 {
    margin-bottom: 30px;
    display: block;
    overflow: auto;
  }

  &__button {
    padding: 11px 26px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.28px;
    text-transform: uppercase;
    opacity: 0.6;
    border: 1px solid transparent;
    background: transparent;
    color: $color-cerulean-blue;
    cursor: pointer;

    @include hover-focus {
      opacity: 1;
    }

    &--active {
      border-radius: 20px;
      border: 1px solid $color-cerulean-blue;
    }

    @include vp-1199 {
      font-size: 14px;
      font-weight: 500;
      line-height: 14px;
      letter-spacing: 0.28px;
      text-transform: uppercase;
      padding: 11px 20px;
    }

    @include vp-767 {
      font-size: 12px;
      font-weight: 500;
      line-height: 12px;
      letter-spacing: 0.24px;
      text-transform: uppercase;
      padding: 8px 14px;
    }
  }

  & form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 28px;

    @include vp-1199 {
      gap: 9px;
    }

    @include vp-767 {
      display: flex;
      width: 557px;
      gap: 8px;
    }
  }
}
