.header-example {
  background-color: transparent;
  padding: 30px 0;
  z-index: 30;
  transition: transform 0.3s ease, background-color 0.3s ease;
  position: absolute;
  right: 0;
  width: 100%;

  @include vp-767 {
    padding-top: 20px;
  }

  &--base {
    background-color: #ffffff;
  }

  &--blue {
    background-color: #3c69ff;
  }

  &.is-hidden {
    transform: translateY(-100%);
  }

  &.is-open {
    .header-example__overlay {
      position: fixed;
      background: rgba(13, 29, 51, 0.4);
      top: 0;
      width: 100%;
      height: 100vh;
    }
  }

  &__wrapper {
    .is-open & {
      position: relative;
      min-width: 286px;
      display: flex;
      flex-direction: column;
      width: fit-content;

      @include vp-1199 {
        margin-left: auto;
      }

      @include vp-767 {
        width: 100%;
        margin: 0 auto;
      }
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    margin: -8px 40px 0 0;
    display: flex;

    @media (max-width: 1279px) {
      flex-direction: column;
      transform: scale(0.85);
    }

    @media (max-width: 1023px) {
      flex-direction: row;
      transform: scale(1);
    }

    @include vp-767 {
      margin-bottom: -5px;
    }

    .is-open & {
      position: relative;
      z-index: -1;

      @include vp-767 {
        display: none;
      }
    }

    .logo__second-part {
      @media (max-width: 1279px) {
        margin: 0;
      }

      @media (max-width: 1023px) {
        margin: 0 0 0 9px;
      }

      @media (max-width: 767px) {
        margin: 0;
      }
    }
  }

  &__git-link {
    display: flex;
    margin: 0 0 0 auto;

    @media (max-width: 1023px) {
      margin: 0 24px 0 auto;
    }
  }

  &__nav {
    width: 286px;
    background-color: transparent;
    bottom: 0;
    display: flex;
    flex-direction: column;
    left: 0;
    opacity: 0;
    margin: 0;
    padding: 80px 0 20px 0;
    padding-top: 90px;
    position: fixed;
    pointer-events: none;
    top: 0;
    transition: background-color 0.3s ease;
    visibility: hidden;
    z-index: 20;
    margin-left: auto;
    right: calc((100vw - 1240px)/2);

    @include vp-1439 {
      margin-left: auto;
      right: 100px;
    }

    @include vp-1199 {
      right: 45px;
    }

    @include vp-767 {
      width: 90%;
      margin: 0 auto;
      right: 0;
      max-height: 90vh;
      padding-bottom: 0;
      height: fit-content;
      top: -10px;
    }

    .header-example--blue & {
      background-color: $color-cerulean-blue;
    }

    .is-open & {
      opacity: 1;
      pointer-events: all;
      visibility: visible;
      position: absolute;
      right: 0;
      padding-top: 58px;
      height: fit-content;

      .header-example__item {
        opacity: 1;
        transform: translateX(0);
      }

      @include vp-1199 {
        height: 578px;
        margin-left: auto;
        max-height: 90vh;
      }

      @include vp-767 {
        margin: 0 auto;
        max-height: 90vh;
        padding-bottom: 0;
        height: fit-content;
        top: -10px;
        right: 0;
        padding-top: 68px;
        width: 100%;
      }
    }
  }

  &__list {
    // overflow: scroll;
    overflow: auto;
    text-overflow: clip;
    display: grid;
    list-style: none;
    margin: 0;
    max-width: 450px;
    padding: 35px 25px;
    background-color: $color-cerulean-blue;
    border-radius: 16px;
    flex-direction: column;
    color: $color-default-white;
    justify-content: start;
    padding-left: 16px;
    padding-top: 15px;

    & a {
      opacity: 0.7;
      margin: 0;
      text-transform: uppercase;
      color: $color-default-white;

      @include hover-focus {
        opacity: 1;
        outline: none;
      }
    }

    @include vp-1199 {
      flex-direction: column;
      margin: 0 0 70px 0;
      max-width: unset;
    }

    @include vp-767 {
      align-items: flex-start;
      margin: 0 0 62px 0;
      margin-bottom: 0;
    }
  }

  &__item {
    @media (max-width: 1023px) {
      opacity: 0;
      transition: opacity ease-out 0.15s, transform ease-out 0.15s;
      transform: translateX(-15px);
    }

    &:not(:last-child) {
      margin: 0 55px 0 0;

      @media (max-width: 1279px) {
        margin: 0 35px 0 0;
      }

      @media (max-width: 1023px) {
        margin: 0 0 40px 0;
      }

      @media (max-width: 767px) {
        margin: 0 0 36px 0;
      }
    }
  }

  &__link {
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    transition: color 0.3s ease;

    @media (max-width: 1023px) {
      color: #ffffff;
      font-size: 20px;
      line-height: 25px;
    }

    @media (hover: hover) {
      &:hover:not(.focus-visible) {
        &:not(span) {
          color: #2c39f2;
        }
      }
    }

    &--blue {
      color: #2c39f2;

      @media (hover: hover) {
        &:hover:not(.focus-visible) {
          &:not(span) {
            color: #ff1553;
          }
        }
      }
    }
  }

  &__burger {
    align-items: center;
    background-color: $color-default-white;
    position: relative;
    z-index: 25;
    transition: 0.5s cubic-bezier(0.07, 0.82, 0.17, 1);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 69px;
    padding-left: 20px;

    @include hover-focus {
      .header-example__icon::before {
        background-color: $color-cerulean-blue;
        box-shadow: 0 5px 0 0 $color-cerulean-blue, 0 10px 0 0 $color-cerulean-blue;
      }
    }

    .is-open & {
      background-color: $color-cerulean-blue;
      min-width: 286px;
      justify-content: space-between;
      border: none;
      width: 100%;


      @include hover-focus {
        .header-example__icon::after {
          background: linear-gradient($color-default-white, $color-default-white), linear-gradient($color-default-white, $color-default-white);
          background-position: center;
          background-size: 100% 1px, 1px 100%;
          background-repeat: no-repeat;
        }
      }

      @include vp-767 {
        width: 100%;
        margin: 0 auto;
      }
    }

    @include vp-1199 {
      display: flex;
      position: relative;
      transition: opacity 0.3s ease;
    }

    @include vp-767 {
      &::after {
        width: 46px;
        height: 46px;
      }
    }
  }

  &__icon {
    width: 25px;
    height: 25px;
    right: 14px;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      margin: auto;
      top: -10px;
      bottom: 0;
      left: 0;
      right: 0;
      width: 16px;
      height: 2px;
      background-color: $color-default-white;
      box-shadow: 0 5px 0 0 $color-default-white, 0 10px 0 0 $color-default-white;
      transition: all 300ms;
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      background: linear-gradient($color-cerulean-blue, $color-cerulean-blue), linear-gradient($color-cerulean-blue, $color-cerulean-blue);
      background-position: center;
      background-size: 100% 1px, 1px 100%;
      background-repeat: no-repeat;
      rotate: 45deg;
      display: none;
    }

    .is-open & {
      &::before {
        display: none;
      }

      &::after {
        display: block;
        z-index: 2;
      }
    }
  }

  .is-open {
    .header-example__burger-text {
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s ease 0s;
    }

    .header-example__burger-icon {
      opacity: 1;
      pointer-events: all;
      transition: opacity 0.3s ease 0.2s;
    }
  }

  &__burger-text {
    transition: opacity 0.3s ease 0.1s;
    cursor: pointer;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.28px;
    text-transform: uppercase;

    .is-open & {
      pointer-events: none;
      transition: opacity 0.3s ease 0s;
    }
  }

  &__burger-icon {
    stroke: #ffffff;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    .is-open & {
      opacity: 1;
      pointer-events: all;
      transition: opacity 0.3s ease 0.2s;
    }
  }
}
