.programs {
  color: $color-default-white;
  padding-top: 120px;
  position: relative;
  padding-bottom: 78px;

  @include vp-1199 {
    padding-top: 100px;
  }

  @include vp-767 {
    padding-top: 70px;
  }

  &.container {
    padding-bottom: 182px;
  }

  &__swiper {
    padding-bottom: 50px;

    @include vp-767 {
      padding-bottom: 72px;
    }
  }

  & .container {
    @include vp-1199 {
      padding-right: 0;
    }

    @include vp-767 {
      padding-right: 15px;
    }
  }

  &__nav-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 52px;

    @include vp-1199 {
      padding-right: 45px;
    }

    @include vp-767 {
      width: fit-content;
      position: absolute;
      top: 0;
      margin: 0;

    }
  }


  &__scrollbar.swiper-scrollbar {
    height: 2px;
    background: rgba(49, 109, 194, 0.2);
    width: 91.5%;
    left: 0;
    position: relative;

    @include vp-1199 {
      width: 82.5%;
      bottom: 6px;
    }

    @include vp-767 {
      display: none;
    }
  }

  & .swiper-scrollbar-drag {
    background-color: $color-cerulean-blue;
  }

  &__buttons-wrapper {
    display: flex;
    gap: 10px;
    width: fit-content;
    margin-left: auto;
    position: absolute;
    bottom: 42px;
    right: 100px;
    height: fit-content;
    z-index: 2;

    @include vp-1199 {
      right: 45px;
    }

    @include vp-767 {
      top: -2px;
      right: 14px;
    }
  }

  &__button-nav {
    color: $color-cerulean-blue;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    @include hover-focus {
      background: $color-default-white;
      border-radius: 50%;
      width: 22px;
      height: 22px;
    }

    @include active-no-hover {
      opacity: 0.7;
    }

    &:disabled {
      & svg {
        color: #a9afb7;
      }
    }

    & svg {
      width: 10px;
      height: 10px;
      color: $color-cerulean-blue;
    }

    &--prev {
      rotate: -135deg;
    }

    &--next {
      rotate: 45deg;
    }
  }

  &__heading {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 44px;

    @include vp-1199 {
      margin-bottom: 39px;
      padding-right: 45px;
    }

    @include vp-767 {
      margin-bottom: 32px;
    }

    & .btn {
      @include vp-767 {
        position: absolute;
        bottom: 0;
        min-width: 63%;
        padding-left: 29px;
      }
    }
  }

  &__button.btn {
    padding-top: 14px;
    padding-bottom: 14px;

    @include vp-767 {
      padding-left: 19px;
      padding-right: 58px;
    }
  }


  & h2 {
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    color: $color-cerulean-blue;
    margin: 0;

    @include vp-1199 {
      font-size: 34px;
      line-height: 50px;
    }

    @include vp-767 {
      font-size: 20px;
      line-height: 20px;
    }
  }

  & h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    color: $color-cerulean-blue;
    margin: 0;
    margin-bottom: 21px;
    background-color: $color-default-white;
    margin: 0;
    margin-bottom: -1px;
    padding: 18px;
    padding: 13px 16px 3px;
    border-radius: 12px 12px 0px 0px;
    min-width: 194px;
    width: fit-content;
    word-break: normal;
    position: relative;

    @include vp-1199 {
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      min-width: 172px;
    }

    @include vp-767 {
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      padding: 17px 16px 0;
      min-width: 146px;
      padding: 17px 16px 8px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 26px;
      height: 26px;
      bottom: 0;
      right: -25px;
      background: url("../img/svg/angle.svg") no-repeat center;
      background-size: contain;
      transform: rotate(-90deg);

      @include vp-767 {
        width: 20px;
        height: 20px;
        bottom: 0;
        right: -19px;
      }
    }
  }

  &__text-wrapper {
    background-color: $color-default-white;
    gap: 16px;
    display: grid;
    grid-template-columns: auto 30px;
    align-items: center;
    padding: 11px 18px 14px 18px;
    border-radius: 0px 12px 12px 12px;
    width: 91%;
    min-height: 79px;
    word-break: normal;

    @include vp-1199 {
      width: 92%;
      padding: 8px 18px 11px;
      min-height: 76px;
    }

    @include vp-767 {
      width: 100%;
      padding: 13px 18px 13px;
      min-height: 68px;
    }
  }

  & p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin: 0;
    color: $color-charcoal;
    grid-column: 1;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 0px 12px 12px 12px;
    background: $color-default-white;

    @include vp-1199 {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }

    @include vp-767 {
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 14px;
    }
  }

  &__card {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 280px;
    justify-content: flex-end;
    box-sizing: border-box;
    background-size: 100%;
    border-radius: 12px;

    @include vp-1199 {
      padding-top: 285px;
      padding: 20px;
    }

    @include vp-767 {
      padding: 10px;
      padding-bottom: 19px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(49, 109, 194, 0.20);
      border-radius: 12px;
      z-index: 0;
    }

    & img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-color: #3e6f3e;
      z-index: -1;
      top: 0;
      left: 0;
      border-radius: 12px;

      @include vp-1199 {
        width: 100%;
        height: 100%;
      }
    }
  }

  & .swiper-slide {
    height: auto;
    min-height: 29vw;

    @include vp-1199 {
      min-height: 55vw;
    }

    @include vp-767 {
      min-height: 125vw;
    }
  }

  &__card-text {
    z-index: 1;
  }

  &__button.btn {
    padding: 14px;
    width: 30px;
    height: 30px;

    & svg {
      right: 9px;
    }

    &::after {
      width: 30px;
      height: 30px;
      right: -1px;
    }
  }
}
